.booking {
    padding: 79px 24.25px 52px 21px;
    background: #fff;
    width: 100%;
    background: rgba(41, 41, 41, 0.8);
    font-size: 18px;
}

.booking__title {
    margin-bottom: 15px;
    margin-left: 7px;
    font-size: 30px;
    font-weight: 300;
}

.booking__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    position: relative;
}

.booking__date {
    margin-top: 61px;
}

.booking__button {
    margin: 92px 0 0 auto;
}

.booking__change-button {
    height: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}