.select {
    position: relative;
    z-index: 10;
}


.select__button {
    padding: 2px;
    width: 100%;
    cursor: pointer;
    text-align: start;
}

.select__item-button:hover  {
    background-color: #FFCA62 ;
    border-bottom: 1px solid #FFCA62 ;

    color: var(--secondary-color);
}
.select__list {
    position: absolute;
    top: 100%;
    left: -7px;
    width: 100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #f7f5f9;
    z-index: -1;
    margin-top: -30px;
    border-top: 1px  solid #E5E5E5 ;
    padding-top: 34px ;
}

.select__item:first-child .select__item-button {
    border-top: 1px solid #E5E5E5 ;
}

.select__item-button {
    width: 100%;
    padding: 8px 7px;
    text-align: start;
    border-bottom: 1px solid #E5E5E5 ;
}