.home-top {
    padding-top: 411px;
    color: var(--secondary-color);
    border-bottom: 8px solid var(--orange-color) ;
    background: url("@/shared/assets/images/home-top-bg.jpg") no-repeat center center / cover;
}

.home-top__inner {
    display: flex;
    align-items: flex-end;
    gap: 104px;
}

.home-top__title {
    font-weight: 100;
    font-size: 72px;
    padding-bottom: 231px;
    padding-left: 90px;
}

.home-top__title span {
    display: block;
    font-weight: 700;
}
