.checkbox {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    user-select: none;
}

.checkbox__input {
    display: none;
}

.checkbox__box {
    width: 28px;
    height: 28px;
    border: 1px solid var(--gray-2-border-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}


.checkbox__input:checked + .checkbox__box {
    border: 1px solid var(--orange-border-color);
}

.checkbox__icon {
    width: 23px;
    height: 18px;
}



.checkbox__label--checked {
    color: var(--orange-color);
}